extends layout

block head
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext')




  script
    var ConsoleConfig = { console_id : "#{id}", socket : "#{config.socket}" }

block content


  h1 MongoFiddle






  p(id="beta") 









  //.version(title="Select your mongodb version") MongoDB 2.0.6
  //.version-sel
  //  ul
  //    li(class='mongo-version',data-mongo='2.0.6')
  //      strong Stable version
  //      div MongoDB 2.0.6
  //    li(class='mongo-version',data-mongo='2.2.0-rc0')
  //      strong Experimental version
  //      div MongoDB 2.2.0-rc0

  #wwrap(style='overflow:hidden;')
    #wrap(style='float:left; width:55%; min-width:500px;')
      #terminal.terminal
    #wrap-side(style='background-color:white; float:left; width:40%; min-width:350px; position:relative;')
      i.icon-chevron-right(style="position:absolute; right:10px; top:10px; ")
      section(id="manual", style="margin:0px 10px; overflow:auto;")
        include manual/start
        include manual/js-shell
        include manual/documents
        include manual/saving
        include manual/saving_and_querying
        include manual/basic_queries
        include manual/query_operators
        include manual/updates
        include manual/update_operators
        include manual/deleting_data
        include manual/end
      section(id="info",style="background-color:lightyellow; height:100px;")
        section(style="margin:0px 10px; padding-top:10px;")
          | ⌘+right - next
          br
          | ⌘+left - prev

      //- #head(style='background-color:lightyellow; height:40px; position:relative;')
        //- select(style='position:absolute; top:10px; right:10px; ')
        //-  each val, key in config.manual_description
        //-    option(value=key) #{val}



 // section
 //   div Limits
 //   ul
 //     li 50Mb DB size on disk, so you can store about 100 000 documents
 //     li 5 second command timeout, 10 min inactivity timeout


