extends layout

block head

  script
    var ConsoleConfig = { console_id : "#{id}", socket : "#{config.socket}" }

block content

  header
    h1 MongoFiddle
    a.version(href="#",title="Version information ( not implemented )") v#{config.version}
  
  #wwrap(style='overflow:hidden;')
    #wrap(style='float:left;')
      #terminal.terminal
    #wrap-side(style='background-color:white; float:left; min-width:500px; position:relative; width:39%')
      section(id="manual", style="margin:0px 10px; overflow:auto;")
        include manual/start
        //-
          include manual/js-shell
          include manual/documents
          include manual/saving
          include manual/saving_and_querying
          include manual/basic_queries
          include manual/query_operators
          include manual/updates
          include manual/update_operators
          include manual/deleting_data
          include manual/end
