doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title MongoFiddle
    meta(name='description',content='Try MongoDB console in your browser')
    meta(name='author',content='Kamil Załęski')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quando')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext')

    != css('console')
    // og:...

    block head

  body
    block content

    footer
      p.warning(style="margin:10px;")
        | Created by
        span  @
        a(href="http://kamilzaleski.com",style="color:black",title="Kamil Załęski") KamilZaleski
        br
        | Powered by 
        a.nodejs(href="http://nodejs.org",title="node.js") node
          span JS
        &amp;
        a.mongodb(href="http://mongodb.org",title="MongoDB") mongo
          span DB
        |  open sourced at 
        a.github(href="http://github.com/kamil/mongofiddle",title="MongoFiddle at GitHub") GitHub
      
    
    != js('fiddle')

    if config.env == 'production'
      script
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33817559-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

