doctype 5
html(lang='en')
  head
    meta(charset='utf-8')
    title MongoDb Fiddle
    meta(name='description',content='')
    meta(name='author',content='Kamil Załęski')

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quando')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&subset=latin,latin-ext')

    != css('console')
    // og:...

    block head

  body
    block content

    footer
      p.warning(style="margin:10px;")
        | Created by
        span  @
        a(href="http://kamilzaleski.com",style="color:black",title="Kamil Załęski") KamilZaleski
        br
        | Powered by 
        a.nodejs(href="http://nodejs.org",title="node.js") node
          span JS
        &amp;
        a.mongodb(href="http://mongodb.org",title="MongoDB") mongo
          span DB
        |  open sourced at 
        a.github(href="http://github.com/kamil/mongofiddle",title="MongoFiddle at GitHub") GitHub
      
    
    != js('fiddle')
