@import "bootstrap";
@import "style";

.terminal {
  float: left;
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px !important;
  color: white;
  background-color: transparent;
  line-height: 100%;
}

.reverse-video {
  color: #000;
  background: darkcyan;
}

#wrap {
  padding: 7px 10px;
  background-color: black;
}

.learn-more {


    position: absolute;
    bottom: 115px;
    left: 10px;



}  
