

body {
  padding: 50px 10px 0px 20px;
--font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  -background-image:url(/images/noise.png);

  background: #F4F4F4 url(http://underscorejs.org/docs/images/background.png);


}

header {
}


#beta {
  background-color:lightyellow;
  padding:5px;
  width:400px;
  position:absolute;
  top:10px;
  left:400px;
  height:20px;
  font-weight:bold;
  -webkit-border-radius: 5px;
  border: 1px solid lightgrey;
  display:none;
}


#wrap-side {
  -webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}



h1 {
  font-family: 'Quando', serif;
  font-size:46px;
  text-shadow: 1px 2px white;
  margin:0;
  letter-spacing: -4px;
  position:absolute;
  top:9px;
  z-index:9999;
  color: #3F2A1B;
}

a {
  color: #00B7FF;
}

footer .warning {
  color: grey;
  font-family: monospace;
  font-size:13px;
}


a.nodejs, a.mongodb, a.github, a.version {
  text-decoration: none;
  cursor: pointer;
}

a.nodejs {
  background-color: #22252A;
  color: #E3E2E3;
  border-radius: 2px;
  padding: 1px 2px;
}

a.nodejs span {
  color: #BBC354;
}

a.version {
  background-color: grey;
  color: #EEE;
  border-radius: 2px;
  padding: 0px 2px;
  font-family: monospace;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  left: 309px;
  top: 31px;
}
a.mongodb {
  background-color: #3F2A1C;
  color: white;
  border-radius: 2px;
  padding: 1px 2px;
}

a.mongodb span {
  color: #F2D8A6;
}

a.github {
  background-color: #424242;
  color: white;
  border-radius: 2px;
  padding: 1px 2px;
}

