div(data-id='documents',data-title='Documents')
  h2 Documents
  | MongoDB is a document database. This means that we store data as documents,
  br
  | which are similar to JavaScript objects. Here below are a few sample JS objects:
  pre
    | var a = {age: 25}; 
    | var n = {name: 'Ed'}; 
    | var student = {name: 'Jim', scores: [75, 99, 87.2]}; 
  | Create some documents, then enter 
  code next
