div(data-id='end',data-title="End")
 h2 Now go download it!
 | There's a lot more to MongoDB than what's presented in this tutorial.
 | Best thing is to go to the downloads page or to mongodb.org to check out the docs.
 | (You can also keep fiddling around here, but you'll be a bit limited.)
 | 
 | You can also sign up for a chance to win a MongoDB t-shirt or mug. But first
 | a little challenge: enter your e-mail address, first, and last name into the
 | 'email' collection, using fields 'email', 'first_name', and 'last_name'.



