div(data-id='js-shell',data-title="Js Shell")
  //- p
    | This is a self-guided tutorial on MongoDB and the MongoDB shell.
    | The tutorial is simple, more or less a few basic commands to try.
    | To go directly to any part tutorial, enter one of the commands t0, t1, t2...t10
    | Otherwise, use 'next' and 'back'. Start by typing 'next' and pressing enter.
  h2 JavaScript Shell
  | The first thing to notice is that the MongoDB shell is JavaScript-based.
  br
  | So you can do things like:
  pre
    | a = 5; 
    | a * 10; 
    | for(i=0; i<10; i++) { print('hello'); }; 
  | Try a few JS commands; when you're ready to move on, enter 
  code next
