div(data-id='start',data-title="Start")

  h2 Welcome to MongoFiddle.
  p
    | MongoFiddle is place in web you can play with mongodb console
    br
    | Whole tutorial are havely based on 
    a(href="http://try.mongodb.com/") try.mongodb.com
  p
    | If you don't know what is MongoDB yet, hire is a simple definition:

  //-
    blockquote
      p
        | MongoDB is a popular open-source NoSQL database. While called a “document database”,
      small 
        | Someone famous in 
      cite(title="Source Title") Source Title
  
  //- pre
    | MongoDB is a popular open-source NoSQL database. While called a “document database”,
    | MongoDB does not store unstructured documents like PDFs or Microsoft Word files, but rather, stores its data as JSON-like files.
    | Each document represents a database record while a collection is similar to a database table. However, unlike traditional relational
    | databases with a fixed schema, MongoDB collections have no such restriction and each document could have entirely different fields.
    | Developers use the Mongo Query Language to find records in MongoDB collections. Through the use of drivers, MongoDB supports
    | a wide variety of languages such as Ruby, Scala, C#, Node, Java and more.
    | MongoDB supports a variety of features (such as replication and indexing) that you’d typically find in RDMS offerings,
    | but also offers unique capabilities such as auto-sharding and batch processing via MapReduce.
  p
  
  p This is real mongo shell connecting to real MongoDb server.
  
  p
    | type 
    code help
    |  for help
