div(data-id="tutorial",data-title="Tutorial")
 | This is a self-guided tutorial on MongoDB and the MongoDB shell.
 | The tutorial is simple, more or less a few basic commands to try.
 | To go directly to any part tutorial, enter one of the commands t0, t1, t2...t10
 | Otherwise, use 'next' and 'back'. Start by typing 'next' and pressing enter.
